# The Client ID as registered at https://www.strava.com/settings/api
strava_client_id=123456

# The Client Secret as registered at https://www.strava.com/settings/api
strava_client_secret='secret_key'

# The ID of the Strava group that this challenge page is for
strava_group_id=123456

# A list of Member IDs (i.e. Strava athlete IDs) that can do admin functions
admin_member_ids=[1234, 5678]

# Path to the service account file to enable access to the Firestore data
firestore_service_account='resources/bbbbc-firestore.json'

# A prefix applied to each Firestore collection.  Enables us to have different prefixes for different configurations
# so that we may test against the same firestore instance but not corrupt production data.
firestore_collection_prefix='prod'