{% extends "layout.html" %}
{% block body %}
<h1>Attempts</h1>
<p>Segment:
    <a href="http://www.strava.com/segments/{{ challenge['segment_id'] }}"
       target="_blank">{{ challenge["segment_name"]}}</a>
</p>
<table border="1">
    <tr>
        <th>Member ID</th>
        <th>Effort ID</th>
        <th>Date</th>
        <th>Recorded Time</th>
        <th>Handicap</th>
        <th>Converted Time</th>
    </tr>
    {% for attempt in attempts %}
    <tr>
        <td>{{ attempt["member"]["first_name"] }}</td>
        <td>{{ attempt["id"] }}</td>
        <td>{{ attempt["activity_timestamp"] }}</td>
        <td>{{ attempt["recorded_time_secs"] }}</td>
        <td>{{ attempt["handicap_for_attempt"] }}</td>
        <td>TBD</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}