{% extends "layout.html" %}
{% block body %}
<h1>Segments</h1>
<table border="1">
    <tr>
        <th>Segment Name</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Segment ID</th>
    </tr>
    {% for challenge in challenges %}
    <tr>
        <td><a href="{{ url_for('attempts', challenge=challenge['id']) }}">{{ challenge["segment_name"] }}</a></td>
        <td>{{ challenge["date_from"] }}</td>
        <td>{{ challenge["date_to"] }}</td>
        <td><a href="http://www.strava.com/segments/{{ challenge['segment_id'] }}" target="_blank">{{ challenge["segment_id"] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}