{% extends "layout.html" %}
{% block body %}
<h1>Segments</h1>
<table border="1">
    <tr>
        <th>Segment Name</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Segment ID</th>
    </tr>
    {% for segment in segments %}
    <tr>
        <td><a href="{{ url_for('segment', segment=segment['id']) }}">{{ segment["id"] }}</a></td>
        <td>{{ segment["date_from"] }}</td>
        <td>{{ segment["date_to"] }}</td>
        <td>{{ segment["segment_id"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}